Host *
    IdentityFile ~/.ssh/private_key.pem
    ServerAliveInterval 240
    ServerAliveCountMax 2
    TCPKeepAlive yes

Host bastion
    User ubuntu
    Hostname ${bastion_hostname}
    ForwardAgent yes
    Port 22

%{ for ip in private-ip ~}

Host wordpress_${ip}
    User ubuntu
    HostName ${ip}
    Port 22
    ProxyJump ubuntu@${bastion_hostname}
%{ endfor ~}

